<div class="jumbotron">
    <h2 class="title">云端<br>招聘</h2>
    <p class="slogan">在这里，世界都是你的。</p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
</div>

<section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fbxjykvo17j303k03kjr6.jpg" alt="search" class = "img-thhumbnail">
          <div class="caption">
            <h3>阳光氧吧——海南</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww4.sinaimg.cn/large/006tNc79gy1fbxk2jhsx4j303k03kjr6.jpg" alt="bid" class = "img-thhumbnail">
          <div class="caption">
            <h3>linfgg1@gmail.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww4.sinaimg.cn/large/006tNc79gy1fbxk47nlgjj303k03k0os.jpg" alt="heart" class = "img-thhumbnail">
          <div class="caption">
            <h3>010-12344321</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
